<div class="control-section">
    <ejs-treegrid #treegrid [dataSource]='data' allowFiltering='true' childMapping='subtasks' height='350' [treeColumnIndex]='1' id="treegridcomp" allowReordering='true' [showColumnChooser]='true' allowPaging='true' [pageSettings]='pageSettings' allowExcelExport='true' allowPdfExport='true' allowSorting='true'
    [contextMenuItems]="contextMenuItems" [editSettings]='editing'  [toolbar]="toolbar" [allowResizing]=true showColumnMenu=true (actionComplete)="sort($event)" [sortSettings]='sortSettings'>
        <e-columns>
            <e-column field='taskID' headerText='Task ID' isPrimaryKey='true' width='105' [edit]='editparams' textAlign='Right' editType='numericedit' freeze='Left'></e-column>
            <e-column field='taskName'  headerText='Task Name'  freeze='Left'></e-column>
            <e-column field='startDate' headerText='Start Date' format="yMd" textAlign='Right' editType='datepickeredit'></e-column>
            <e-column field='endDate' headerText='End Date'  format="yMd" textAlign='Right' editType='datepickeredit'></e-column>
            <e-column field='duration' headerText='Duration' [edit]='editparams' textAlign='Right' editType='numericedit'></e-column>
            <e-column field='progress' headerText='Progress' textAlign='Right'  [edit]='editparams' editType='numericedit'></e-column>
            <e-column field='priority' headerText='Priority' textAlign='Left'   editType='stringedit'></e-column>
        </e-columns>
    </ejs-treegrid>
</div>
<div class="col-lg-12 col-12">
<div class="row">
    <div class="col-lg-4 col-12 property-section mt-5">
        <div class="property-panel-section">
                <h3>Columns to show or hide</h3>
                <div class="property-panel-header">Properties</div>
            <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
                <tr>
                    <td style="width: 30%">
                        <div>Column</div>
                    </td>
                    <td style="width: 70%;padding-right: 10px">
                        <div id='columnddl'>
                                <ejs-dropdownlist #dropdown1 id='ddlelement'  width= '120px' [dataSource]='d1datas' [fields]='ddlfields' value='taskID' (change)="change($event)"></ejs-dropdownlist>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 30%;padding-top: 10px">
                        <div>
                                <button ejs-button #button1 Class="btn btn-default" content="HIDE" id="hide" (click)="onClicked()">HIDE</button>
                            </div>
                    </td>
                    <td style="width: 70%;padding-top: 10px;padding-left: 7px">
                        <div>
                                <button ejs-button #button2 Class="btn btn-default"  content="SHOW" id="show" (click)="clicked($event)">SHOW</button>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 30%">
                        <div class="" style="padding-top: 10px">
                            Hidden Columns
                        </div>
                    </td>
                    <td style="width: 70%; padding:10px 10px 10px 0px">
                        <div>
                            <textarea id="hiddencolumns" style="resize: none;height:65px;width:100px;background-color: #fff; padding: 6px" 
                            class="form-control" readonly="readonly"></textarea>
                        </div>
                    </td>
                </tr>
            </table>
            </div>
    </div>
    
    <div class="col-lg-4 col-12 property-section mt-5">
        <div class="property-panel-section">
                    <h3>Hierarchy Mode</h3>
                    <div class="property-panel-header">Properties </div>
            <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
                <tr  style="height: 50px">
                    <td style="width: 50%">
                        <div style="width: 100px">Hierarchy Mode</div>
                    </td>
                    <td style="width: 50%">
                        <div>
                                <ejs-dropdownlist #dropdown1 id='mode' width= '100px' [dataSource]='d1data' [fields]='fields1' value='Parent'(change)="changes($event)"></ejs-dropdownlist>
                            </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="col-lg-4 col-12 property-section mt-5">
        <div class="property-panel-section">
            <h3 class="property-panel-header">Properties</h3>
            <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
                <tr>
                    <td style="width: 70%">
                        <div>
                            taskID
                        </div>
                    </td>
                    <td style="width: 30%;padding:10px 10px 10px 0px">
                        <div class="col-md-6">
                            <ejs-checkbox #taskID [checked]="true" (change)="onClick1($event)" ></ejs-checkbox>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 70%">
                        <div>
                            taskName
                        </div>
                    </td>
                    <td style="width: 30%;padding:10px 10px 10px 0px">
                        <div class="col-md-6">
                                <ejs-checkbox  #taskName [checked]="true" (change)="onClick2($event)" ></ejs-checkbox>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 70%">
                        <div>
                            startDate
                        </div>
                    </td>
                    <td style="width: 30%; padding:10px 10px 10px 0px">
                        <div class="col-md-6">
                                <ejs-checkbox  #startDate (change)="onClick3($event)" ></ejs-checkbox>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 70%">
                        <div>
                            endDate
                        </div>
                    </td>
                    <td style="width: 30%; padding:10px 10px 10px 0px">
                        <div class="col-md-6">
                                <ejs-checkbox  #endDate  (change)="onClick4($event)" ></ejs-checkbox>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 70%">
                        <div>
                            duration
                        </div>
                    </td>
                    <td style="width: 30%; padding:10px 10px 10px 0px">
                        <div class="col-md-6">
                                <ejs-checkbox  #duration  (change)="onClick5($event)" ></ejs-checkbox>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 70%">
                        <div>
                            progress
                        </div>
                    </td>
                    <td style="width: 30%; padding:10px 10px 10px 0px">
                        <div class="col-md-6">
                                <ejs-checkbox  #progress  (change)="onClick6($event)" ></ejs-checkbox>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 70%">
                        <div>
                            priority
                        </div>
                    </td>
                    <td style="width: 30%; padding:10px 10px 10px 0px">
                        <div class="col-md-6">
                                <ejs-checkbox  #priority  (change)="onClick7($event)" ></ejs-checkbox>
                            </div>
                    </td>
                </tr>                                    
              
            </table>
        </div>
    </div>
</div>
</div>